.aboutUs_content{
    padding: 1rem 0 0 0;
}
.aboutUs_navigation{
    width: 80%;
    margin: auto;
    padding: 2rem 0;

}
.aboutUs_page_navigate{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
}
.aboutUs_page_navigate span{
    color: #0156ff;
}
.aboutUs_navigation_header{
    font-size: 30px;
    font-weight: 600;
}
.aboutUs_banner_box{
    width: 100%;
    height: 450px;
}
.aboutUs_banner_innerBox{
    height: 100%;
    width: 100%;
    /* margin: auto; */
    display: flex;
    background-color: rgb(0, 0, 0);
}
#aboutUs_banner_innerBox2{
    background-color: #fff;
    flex-direction: row-reverse;
}
#aboutUs_banner_innerBox3{
    background-color: #000;
}
#aboutUs_banner_innerBox4{
    background-color: #fff;
    flex-direction: row-reverse;
}
#aboutUs_banner_innerBox5{
    background-color: #000;
}
.aboutUs_banner_text_wrapper{
    /* background-color: blue; */
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.aboutUs_banner_text{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    color: #fff;

}
#aboutUs_banner_text2{
    color: #000;
}
#aboutUs_banner_text3{
    color: #fff;
}
#aboutUs_banner_text4{
    color: #000;
}
#aboutUs_banner_text5{
    color: #fff;
}
.aboutUs_banner_text h2{
    font-size: 33px;
    font-weight: 500;
    letter-spacing: 1px;
}
.aboutUs_banner_text p{
    font-size: 14px;
    text-align: justify;
}
.aboutUs_banner_img_wrapper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutUs_banner_img_box{
    width: 65%;
    height: 80%;
    
}
.aboutUs_banner_img_box img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* modal */

/* media query  */
@media only screen and (min-width: 769px) and (max-width: 992px){
    .aboutUs_navigation_header {
        font-size: 26px;
    }
    .aboutUs_banner_text h2 {
        font-size: 28px;
    }
    .aboutUs_banner_text p {
        font-size: 13px;
    }
}

@media screen and (min-width:600px) and (max-width:768px) {

    .aboutUs_navigation_header {
        font-size: 23px;
    }
    .aboutUs_banner_text h2 {
        font-size: 24px;
    }
    .aboutUs_banner_text {
        width: 80%;
    }
    .aboutUs_banner_text p {
        font-size: 11px;
    }

}
@media screen and (min-width:480px) and (max-width:599px) {

    .aboutUs_page_navigate {
        font-size: 11px;
    }
    .aboutUs_navigation_header {
        font-size: 20px;
    }
    .aboutUs_banner_text h2 {
        font-size: 21px;
    }
    .aboutUs_banner_text {
        width: 80%;
    }
    .aboutUs_banner_text p {
        font-size: 10px;
    }
    .aboutUs_banner_img_box img {
        height: 85%;
        width: 85%;
    }

    
}

@media screen  and (max-width:480px){
    .aboutUs_content {
        padding: 0;
    }
    .aboutUs_page_navigate {
        font-size: 10px;
    }
    .aboutUs_banner_innerBox {
        flex-direction: column-reverse;
    }
    #aboutUs_banner_innerBox2 {
        flex-direction: column-reverse;
    }
    #aboutUs_banner_innerBox4 {
        flex-direction: column-reverse;
    }

    .aboutUs_navigation_header {
        font-size: 17px;
    }
    .aboutUs_banner_text h2 {
        font-size: 17px;
    }
    .aboutUs_banner_text {
        width: 90%;
    }
    .aboutUs_banner_text p {
        font-size: 9px;
    }
    .aboutUs_banner_img_box img {
        height: 90%;
        width: 90%;
    }

}