.admin_dashboard_container{
    display: flex;
    width: 100%;
}
.admin_dashboard_container a{
text-decoration: none;
}
.admin_dashboard_sidebar{
    display: flex;
    /* flex-direction: column; */
    flex: 2;
    padding: 1rem;
    /* height: 100vh; */
}
.admin_dashboard_item{
    /* background-color: rgb(106, 106, 127); */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.dashBoardtopBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.dashBoardtopBox h1{
    letter-spacing: 1px;
}
.admin_dashboard_item li a{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem ;
}
.admin_dashboard_content{
    display: flex;
    flex-direction: column;
    flex: 10;
    gap: 3rem;
    padding: 1rem;
    min-height: 90vh;
}
.admin_dashboard_detailBox{
    display: flex;
    align-items: center;
    gap: 3px;
}
.admin_dashboard_totals{

    display: flex;
    gap: 1rem;
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 10px 1rem;
    border-radius: 5px;
    height: 85px;
    align-items: center;
}
.admin_dashboard_totals img{
    width: 40px;
    height: 40px;

}
.admin_dashboard_sales_para{
    letter-spacing: 1px;
    color: var(--main_color);
    font-size: 15px;
}
.admin_dashboard_sales_para2{
    font-size: 14px;
    color: rgb(150, 150, 150);
}

.admin_dashboard_latest_orders{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.admin_dashboard_latest_orders h2{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
}
.admin_dashboard_table tbody tr td{
    padding: 10px;

    font-size: 14px;
    color: gray;
}
/* .admin_dashboard_order_status{
    background-color: rgba(50, 214, 0, 0.228);
    color: rgb(0, 164, 11);
    border-radius: 5px;
    
} */

.orderList tr{
    height: 85px;
    border-bottom: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.09);
}
.orderList tr:hover{
    background-color: rgba(128, 128, 128, 0.138);

}
.adminDashboardTopic{
    letter-spacing: 2px;
    color: orange;
}

.admin_dashboard_item li{
    background-color: rgba(128, 128, 128, 0.09) ;
}