.uploadContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin:  3rem 0 ;

}
.formHeader{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 0.7rem;
}
.formHeader svg{
    font-size: 2rem;;
    color: var(--main_color);
}
.uploadHeading{
    color: var(--main_color);
    /* margin-bottom: 12px; */

}

.form{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form label{
    font-size: 11px;
    color: rgb(200, 186, 186);
}
.form input{
    color: #0156FF;
}
.form input::placeholder{

    font-size: 12px;
    color: #0156ffb3;
}
.inputItem{
    /* background-color: rgb(232, 232, 255); */
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    /* gap: 5px; */
}

.priceInputItem{
    display: flex;
    gap: 12px;
}
.genderInput{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.priceInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.priceInput input{
    width: 100%;
}
select{
    color: var(--border_color);
}
input, select{
    padding: 10px;
    outline: none;
    border: 1px solid #0156FF;
    border-radius: 5px;
    font: 12px;
    /* background-color: rgba(128, 128, 128, 0.094); */
    width: 100%;
    height: 45px;
    
}
.selectOption{
    color: rgb(173, 173, 173);
}

.uploadImage{
    /* background-color: var(--border_color); */
    /* background-color: #dddee196;; */
    height: 70px;
    width: 80px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    /* border: 1px solid grey; */
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.selectImage{
    display: flex;
    font-size: 12px;
    width: fit-content;
    height: 50px;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--main_color);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    gap: 10px;
}
.uploadIcon{
    color: rgba(193, 193, 193, 0.683);
    font-size: 25px;
}
.uploadImage p{
    font-size: 10px;
    color: rgb(173, 173, 173);
}
.uploadBtn{
    padding: 10px 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--main_color);
    color: #0156FF;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #0156FF
    ;
    font-size: 16px;;
    font-weight: 500;
    text-transform: uppercase;
}
.productImagePreview{
    display: flex;
    gap: 5px;

}
.productImagePreview img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;;
}
.specsBox{
    display: flex;
    flex-direction: column;
}
.specsBox button{
    height: 40px;
    background-color: #0156FF;
    font-size: 14px ;
    color: white;
    border-radius: 6px;
}
.inputItem label{
    color: #0156FF;
}
.uploadImageButton{
    background-color: #0156FF;
    border-radius: 6px;
    text-align: center;
}
.selectImage{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}
.selectImage p{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}
.specsContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}