.cartContainer{
    height: 80vh;
    display: flex;
}
.checkoutContent{
    width: 90%;
    margin: auto;
    display: flex;
    height: 80%;
}
.cartImg{
    width: 400px;
}
.leftBox{
    flex: 5;
}
.rightBox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 7;
}
.innerBox{
    display: flex;
    gap: 2rem;
    border-radius: 2rem;
}
.buyButton{
    padding: 0 2rem;
    height: 45px;
    background-color: #0156FF;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    cursor: pointer;
    width: fit-content;
}
.productItem{
    display: flex;
    padding:1px  5px ;
    font-size: 16px;
    border-radius: 10px;
    gap: 5px;
    align-items: center;
    letter-spacing: 0.9px;
}
.productName{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        font-size: 14px;
        color:#000000b8;
}
.boldText{
    font-weight: 600;
    color: #0156FF;
}
.secondary_text{
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
}

.shippingDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 8px;
    border-radius: 2rem;
}

.shippingItem {
    display: flex   ;
    flex-direction: column;
    gap: 8px;
    padding: 0 5px;
    color:#000000b8;
}

.itemDetails{
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 2rem;
}

.shippingItem {
    font-size: 15px;
    color: #000000b8;
}
.headerBox{
    height: 55px;
    display: flex;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.376);
    background-color:  #0156FF;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.productCount{
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    background-color: #0156FF;
}
.totalPrice{
    padding: 0 6px;
    margin: 5px 0 ;
    color: #0156FF;
}
.productsDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
}