.shoppingCart_content{
    padding: 1rem 0;
}
.empty_shopping_cart_content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    height: calc(100vh - 200px);
}
.continueShoppingButton{
    padding: 1rem;
    border: none;
    outline: none;
    letter-spacing: 1.5px;
    font-size: 15px;
    border-radius: 5px;

    background-color: #0156FF;
    color: white;

    font-weight: 500;
}
.emptyCartText{
    font-weight: 500;
    color: rgb(38, 35, 35);
    font-size: 20px;
    letter-spacing: 1px;

}
.shoppingCart_innerContent{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.shopping_cart_navigation{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}
.shopping_cart_navigation span{
    color: #0156FF;
}
.shoppingCart_card_summary_wrapper{
    display: flex;
    gap: 1rem;
}
.shoppingCart_card_wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 8.5;

}
.clear_shoppingCart_btn{
    width: fit-content;
    padding: 10px 1rem;
    border-radius: 50px;
    background-color: #000;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    font-size: 12px;
}
.shoppingCart_summary_wrapper{
    padding: 1rem;
    flex: 3.5;
    background-color: #F5F7FF;
}
.summaryCart_summary_box{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.cart_summary_heading{
    font-size: 17px;
    font-weight: 600;
}
#summaryCart_para1{
    font-size: 16px;
}
#summaryCart_para2{
    font-size: 12px;
    color: #666;
}
.summaryCart_dis_code_box p{
    font-size: 16px;
    letter-spacing: 1px;
}
.disCount_input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #CACDD8;
    background-color: transparent;
    outline: none;
    padding: 2px;
    font-size: 12px;
}
.shoppingCart_price_info_wrapper{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.shoppingCart_priceInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
}
#shipping_info{
    font-size: 9px;
    color: #A2A6B0;
}
#shoppingOrder_total_cost{
    font-size: 15px;
}
.shoppingCart_btn_wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.shoppingCart_btn_wrapper button{
    border: none;
    outline: none;
    border-radius: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
#proceed_to_checkout_btn{
    background-color: #0156FF;
    color: #fff;
}
#checkOut_with_paypal_btn{
 background-color: #FFB800;
 color: #232C65; 
}
.shoppingCart_summary_banner{
    display: flex;
    align-items: center;
    gap: 3px;
}
.shoppingCart_summary_banner img{
    width: 31px;
}
.shoppingCart_summary_banner span{
    color: #00AEB8;
}
.shoppingCart_summary_banner p{
    font-size: 9px;
    color: #272560;
}


.shoppingCart_table{
  
    padding: 1rem;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}
.shoppingCart_item_img_box{
    max-width: 75px;
    height: 75px;
}
.shoppingCart_table tr td img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.shoppingCart_item_name_box{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.shoppingCart_table th, .shoppingCart_table td{

    padding: 12px 15px;
    border-bottom: 1px solid #CACDD8;
}
.shoppingCart_table input{
    width: 50px;
    text-align: center;
    height: 38px;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 5px;
    background-color: #F5F7FF;
}
.shoppingCart_table thead tr th{
    font-weight: 600;
}
.shoppingCart_table tbody tr{
    font-size: 14px;
}

.shippingInput{

    border-radius: 4px;
    outline: none;
    border: 1px solid var(--Color---5, #A2A6B0);
    background: #FFF;
    height: 40px;
    font-size: 12px;
    padding-left: 5px;
}

.removeCartButton{
    background-color: #0156FF;
    border-radius: 4px;
    border: none;
    outline: none;
    color: white;
    height: 30px;
    padding:  0 10px;
    letter-spacing: 0.9px;
    font-size: 13px;
}
/* media query  */
@media only screen and (min-width: 769px) and (max-width: 992px){

    .shoppingCart_card_summary_wrapper {
        flex-direction: column-reverse;
    }

}

@media screen and (min-width:600px) and (max-width:768px){
    .shoppingCart_card_summary_wrapper {
        flex-direction: column-reverse;
    }
    .continueShoppingButton {
       font-size: 12px;
    }
    #heading_shoppingCart{
        font-size: 19px;
    }
    #summaryCart_para1 {
        font-size: 15px;
    }
    .summaryCart_dis_code_box p {
        font-size: 15px;
    }
    .shoppingCart_table thead tr th {
        font-size: 13px;
    }

}

@media screen and (min-width:480px) and (max-width:599px){
    .shoppingCart_card_summary_wrapper {
        flex-direction: column-reverse;
    }
    .shoppingCart_table th, .shoppingCart_table td {
        padding: 8px 4px;
        border-bottom: 1px solid #CACDD8;
    }
    .shopping_item_para{
        font-size: 12px !important;
    }

    .continueShoppingButton {
        font-size: 11px;
     }

     #heading_shoppingCart{
        font-size: 18px;
    }
    #summaryCart_para1 {
        font-size: 14px;
    }
    .summaryCart_dis_code_box p {
        font-size: 14px;
    }
    .shoppingCart_table thead tr th {
        font-size: 12px;
    }
    #shoppingOrder_total_cost {
        font-size: 14px;
    }
     .emptyCartText {
        font-size: 18px;
    }
    #empty_cart_img{
        width: 380px;
    }
}

@media screen  and (max-width:480px){
    .shoppingCart_card_summary_wrapper {
        flex-direction: column-reverse;
    }
    .shoppingCart_table th, .shoppingCart_table td {
        padding: 8px 4px;
        border-bottom: 1px solid #CACDD8;
    }
    .shopping_item_para{
        font-size: 11px !important;
    }
    .continueShoppingButton {
        font-size: 10px;
        padding: 12px 10px;
     }
     #heading_shoppingCart{
        font-size: 16px;
    }
    #summaryCart_para1 {
        font-size: 13px;
    }
    .summaryCart_dis_code_box p {
        font-size: 13px;
    }
    .shoppingCart_table thead tr th {
        font-size: 11px;
    }
    #shoppingOrder_total_cost {
        font-size: 13px;
    }
    .shoppingCart_table th, .shoppingCart_table td {
        font-size: 11px;
    }
     .emptyCartText {
        font-size: 15px;
    }
    #empty_cart_img{
        width: 280px;
    }
    .empty_shopping_cart_content {
        height: auto;
    }
}